*{
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    background: linear-gradient(to top left,#33ccff 22%,#ff99cc 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar{
    width:300px;
    min-height: 250px;
    background-color: rgb(255, 253, 253);
    color:rgb(5, 5, 5);
    display: flex;
    align-items: center;
    border-radius:10px;
}
.left-part,.right-part{
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:25px;
    color:black;
}
.left-part{
    font-size: 30px;
    width:58%;
    background-color: #2da6af;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.right-part{
    width:42%;
    color:white;
    background-color: rgb(202, 123, 153);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
#date{
    font-size: 100px;
    line-height: 90px;
    padding-bottom: 7px;
}
#year{
    font-size: 50px;
    line-height: 50px;
    padding:8px;
}
